@page "/counter"

@using BlazorBase.Web.Service

@inject IUsuarioService _usuarioService

<PageTitle>Contagem</PageTitle>

<h1>Contagem</h1>

<p role="status">Usuários Adicionados: @QtdeUsuarios</p>

<button class="btn btn-primary" @onclick="AddUsuario">Adicionar</button>

@code {
    private int QtdeUsuarios { get; set; } = 0;

    protected override async Task OnInitializedAsync()
    {
        var usuarios = await _usuarioService.BuscarUsuarios();
        QtdeUsuarios = usuarios.Count();
        await base.OnInitializedAsync();
    }

    private async Task AddUsuario()
    {
        var lastUser = await _usuarioService.AddUsuario();
        QtdeUsuarios = lastUser.Id;
    }
}
